@tailwind base;
@tailwind components;
@tailwind utilities;

.social-icon {
  @apply ml-5;
}
.social-icon-hover {
  @apply text-greenlight-300;
}
.social-icon:hover {
  @apply social-icon-hover;
}

.link-active {
  @apply link;
}

.link {
  @apply block flex mr-5;
}
.link:after {
  opacity: 1;
  transition: color 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
}
.link:hover:after {
  border-color: red;
  backface-visibility: hidden;
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: left;
  pointer-events: none;
  bottom: -2px;
  -webkit-transition: -webkit-transform 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: transform 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
  border-color: #fff;
}
